.card {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.otters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    padding: 50px;
}

.ca-u-card-avatar-small {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.ca-u-card-avatar-large {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}