<div class="container">
  <div class="form-wrapper">
    <label for="name">Nome: </label>
    <div class="button-group">
      <input
        type="text"
        id="name"
        [formControl]="nome"
        (input)="inputAlterado()"
      />
    </div>

    <div class="messages">
      <div
        *ngIf="
          nome.hasError('required') ||
          nome.hasError('minlength') ||
          nome.hasError('maxlength')
        "
        class="gif-wrapper"
      >
        <img src="assets/triangle.gif" class="warning-icon" />
      </div>

      <span *ngIf="nome.hasError('required')" class="blinking"
        >O campo de nome é obrigatório.</span
      >
      <span
        *ngIf="nome.hasError('minlength') && !nome.hasError('required')"
        class="blinking"
        >É necessário ter no mínimo 6 caracteres.</span
      >
      <span
        *ngIf="nome.hasError('maxlength') && !nome.hasError('required')"
        class="blinking"
        >É necessário ter no máximo 7 caracteres.</span
      >
    </div>

    <p>Valor: {{ nome.value }}</p>
    <p>Válido: {{ nome.valid }}</p>

    <div class="button-group">
      <button (click)="mostrarStatus()">Mostrar Status</button>
      <button (click)="alterarValor()">Alterar Valor</button>
      <button (click)="desabilitar()">Desabilitar</button>
      <button (click)="habilitar()">Habilitar</button>
      <button (click)="resetar()">Resetar</button>
      <button (click)="limparConsole()">Limpar Console</button>
      <button (click)="setValidators()">Set Validators</button>
      <button (click)="addValidators()">Add Validators</button>
      <button (click)="tocarSom()">Testar Som</button>
    </div>
  </div>
</div>
