.balance-card {
    background-color: whitesmoke;
    text-align: left;
    padding: 3px;
    border: none;
    overflow: hidden;
    border-radius: 5px;
}

.balance-header {
    background-color: orange;
    width: 100%;
}
