<!-- <div appHighlight>
  <h1>
    .seroirepsa mutatpulov sitaicipsrep masoirobal subirolod rutanrepsa ,mediuq
    mullI ?rutairap ,murtsoN !maspi sumasucca tnuicsen tidepmi eaitselom sibon
    eadnasucer idommoc teineve tu aguf aitilloM .tile gnicisipida rutetcesnoc
    tema tis ,rolod muspi meroL
  </h1>
</div> -->

<!-- <div class="buttons">
  <button disabled>Button</button>

  <button [attr.disabled]="false">2nd Button</button>

  <button [disabled]="false">3rd Button</button>

  <button appDisabled>Button + appDisabled</button>
</div> -->

<p style="background-color: orange; color: white;">Parágrafo Normal</p>

<p [attr.style]="'background-color: orange; color:white;'">Attr</p>

<p [style]="'background-color: orange; color:white;'">Prop</p>

<p [style]="{
  backgroundColor: 'orange',
  color: 'white',
}">Prop Obj</p>

<p appStyle>Diretiva</p>
<p appStyle>Diretiva</p>


