<div class="filter">
  <form class="form">

    <div class="form__name">
      <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Digite seu nome..." />
      </mat-form-field>
    </div>

    <div class="form__date-picker">  
      <mat-form-field>
        <mat-label>Data de Cadastro</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" />
          <input matEndDate placeholder="End date" />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle> <!-- Alternador do Datepicker -->
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="form__status"> 
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value"> <!-- Aqui pega os objetos do TS -->
            {{ food.viewValue }} <!-- Aqui também pega os objetos do TS -->
          </mat-option>
        </mat-select>
      </mat-form-field>  
    </div>

<div class="form__button">
  <button mat-raised-button>Basic</button>
</div>

  </form>
</div>
