.filter {
    width: 100%;
    height: 100%;
}

.form {
    width: 100%;
    height: 100%;
    // Configuração básica para centralizar elementos dentro de uma div. Cabem mais testes.
    display: flex;
    align-items: center;
    justify-content: space-around;
    // Para fazer com que os elementos se ajustem dentro da div quando a tela tiver alguma mudança de tamanho. Também cabem mais testes.
    flex-wrap: wrap;

    &__name {}

    &__date-picker {}

    &__status {}

    &__button {}
}