.list {
    background-color: rgb(0, 0, 0);
    padding: 3px;
    justify-content: center;
    align-items: center;
}

.item {
    cursor: pointer;
    background-color: beige;
    padding: 15px;
    text-align: center;

    &__name {
        font-size: 25px;
        font-weight: 1000;
    }

    &__age {
        font-size: 20px;
        font-weight: 1000;
    }

    &--odd {
        background-color: rgb(107, 122, 189);
    }

    &--highlighted {
        color: rgb(17, 2, 150);
        background-color: rgb(255, 241, 47);
        border: 2px solid rgb(0, 85, 0)
    }

}