<div class="ca-c-card">
    <div class="ca-c-card__header">
        <div class="credit-card__header-title">
            <img class="credit-card__header-icon" src="assets/icons/icon-credit-card.png" alt="Icone Cartão de Crédito" />
            <h1>Cartão de Crédito</h1>
        </div>
    </div>
    <div class="ca-c-card__content">
        <div class="credit-card__content-item">
            <p>
                1234567891011 <br />
                FELIPE DA SILVA FREITAS
            </p>

            <p>MASTER CARD</p>
        </div>

        <app-card-item
        text="Limite de Compra"
        value="1000"
        ></app-card-item>

        <div class="credit-card__content-line"></div>

        <app-card-item
        text="Disponível"
        value="1000"
        ></app-card-item>

        <app-card-item
        text="Limite de Saque"
        value="2000"
        ></app-card-item>

        <div class="credit-card__content-line"></div>

        <app-card-item
        text="Disponível"
        value="1300"
        ></app-card-item>

        <app-card-item
        text="Limite Total Utilizado"
        value="3000"
        ></app-card-item>

    </div>
</div>