<div class="container">
  <app-card-header
    [headerType]="'Saldos Disponíveis'"
    [headerStyle]="'orange'"
  ></app-card-header>

  <app-card-body></app-card-body>

  <app-card-header
    [headerType]="'Cartão de Crédito'"
    [headerStyle]="'orange'"
  ></app-card-header>

  <app-card-body></app-card-body>

  <app-card-header
    [headerType]="'Cartão de Débito'"
    [headerStyle]="'orange'"
  ></app-card-header>

  <app-card-body></app-card-body>

  <app-card-header
    [headerType]="'Informações do Cliente'"
    [headerStyle]="'cyan'"
  ></app-card-header>

  <app-card-body></app-card-body>
</div>
