<!-- <div>
  <label for="cars">Selecione um carro: </label>
  <select
    id="cars"
    name="cars"
    ngModel
    #meuSelectFormControl="ngModel"
    required
  >
    <option value="" selected>-</option>
    <option value="Volvo" selected>Volvo</option>
    <option value="Fiat" selected>Fiat</option>
    <option value="Audi" selected>Audi</option>
    <option value="BMW" selected>BMW</option>
  </select>
</div> -->

<!-- <div>
    <label for="nationalities">Selecione uma nacionalidade: </label>
    <select
      id="nationalities"
      name="nationalities"
      ngModel
      #meuSelectFormControl="ngModel"
      required
    >
      <option value="" selected>-</option>
      <option *ngFor="let nationality of nationalities" [value]="nationality.id">{{ nationality.description }}</option>
    </select>
</div> -->

<!-- <div>
  <label for="nationalities">Selecione uma nacionalidade: </label>
  <select
    id="nationalities"
    name="nationalities"
    [(ngModel)]="nationalitySelected"
    #meuSelectFormControl="ngModel"
    required
  >
    <option value="" selected>-</option>
    <option *ngFor="let nationality of nationalities" [value]="nationality.id">
      {{ nationality.description }}
    </option>
  </select>

  <p>Nacionalidade Selecionada: {{ nationalitySelected }}</p>
</div> -->

<div>
  <label for="nationalities">Selecione uma nacionalidade: </label>
  <select
    id="nationalities"
    name="nationalities"
    [ngModel]="nationalitySelected"
    (ngModelChange)="onChange($event)"
    #meuSelectFormControl="ngModel"
    required
  >
    <option value="" selected>-</option>
    <option *ngFor="let nationality of nationalities" [value]="nationality.id">
      {{ nationality.description }}
    </option>
  </select>

  <p>Nacionalidade Selecionada: {{ nationalitySelected }}</p>
</div>

<h3>Estado do Select</h3>
<p>Válido: {{ meuSelectFormControl.valid }}</p>
<p>Tocado: {{ meuSelectFormControl.touched }}</p>
<p>Sujo: {{ meuSelectFormControl.dirty }}</p>
