.button {
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 30px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;

    position: relative;

    &:active {
        bottom: -1px;
    }

    &--white {
        background-color: white;
    }

    &--purple {
        background-color: rgb(207, 170, 207);
    }
}