<div class="container">
    <div class="header">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore autem ea architecto, earum incidunt tenetur laborum dolorem atque dolor accusantium quisquam est, numquam officiis quod natus harum aliquam officia iste?</p>
    </div>
   
    <div class="body">

        <h2>Moedas: </h2>
      
        <p class="date">{{ 1200.99 | currency : 'BRL' : 'code' }}</p>
        <p class="date">{{ 1200.99 | currency : 'BRL' : 'symbol' }}</p>
        <p class="date">{{ 1200.99 | currency : 'BRL' : 'symbol-narrow' }}</p>
        <p class="date">{{ 1200.99 | currency : 'BRL' : 'teste' }}</p>

        <div class="break"></div>

        <p class="date">{{ 1200.99 | currency : 'CAD' : 'symbol' }}</p>
        <p class="date">{{ 1200.99 | currency : 'CAD' : 'symbol-narrow' }}</p>

        <div class="break"></div>

        <p class="date">{{ 1200.99 | currency : 'BRL' : true }}</p>
        <p class="date">{{ 1200.99 | currency : 'BRL' : false }}

        <div class="break"></div>

        <p class="date">{{ 1200.994 | currency : 'BRL' : true : '1.2-2' }}
    </div>
</div>

<!-- Aqui foi onde fiz os testes do date pipe, mas acabei reutilizando o arquivo 
e as classes para testar o de currency também. Descrição de utilização deixada para evitar
possíveis confusões/dúvidas futuramente. -->
