<app-card>
    <app-card-header [ngClass]="{'ca-c-card__header--bg-blue': isBlue}">
        <app-card-title title="Informações do Cliente" icon="icon-client.png"></app-card-title>
    </app-card-header>

    <app-card-content>
        <app-card-item text="Nome" value="Joel Santana"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Idade" value="75"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Renda Mensal" value="R$ -1000,00"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Nacionalidade" value="Brasileiro"></app-card-item>
    </app-card-content>
</app-card>