<div class="ca-c-card">
  <div class="ca-c-card__header balance-card__header">
    <div class="balance-card__header-title">
      <img
        class="balance-card__header-icon"
        src="assets/icons/icon-hand.png"
        alt="Icone Saldos"
      />
      <h1>Saldos Disponíveis</h1>
    </div>
    <p>R$ 100,00</p>
  </div>
  <div class="ca-c-card__content">
    
    <app-card-item
    text="Conta Corrente"
    value="200"
    ></app-card-item>

    <div class="balance-card__content-line"></div>

    <app-card-item
    text="Conta Corrente Saldos Vinculados"
    value="300"
    ></app-card-item>

    <div class="balance-card__content-line"></div>

    <app-card-item
    text="Conta Poupança Saldos Vinculados"
    value="400"
    ></app-card-item>

    <div class="balance-card__content-line"></div>

    <app-card-item 
    text="Investimentos com Baixa Automática"
    value="500"
    ></app-card-item>

    <div class="balance-card__content-line"></div>

    <app-card-item 
    text="Investimentos sem Baixa Automática" 
    value="500"
    ></app-card-item>

    <div class="balance-card__content-line"></div>

    <div class="balance-card__content-summary">

    <app-card-item
    text="SALDO TOTAL"
    value="1000"
    ></app-card-item>
    
    <app-card-item
    text="LIVRE PARA MOVIMENTAÇÃO"
    value="1000"
    ></app-card-item>

    </div>
  </div>
</div>
