<h1 [ngClass]="{
  'is-big is-green': isGreen,
  'is-orange': !isGreen,
 }">Sou um H1 !!!!</h1>

<h1 [class]="{
  'is-green': isGreen,
  'is-orange': !isGreen,
}">Sou um H1 2.0 !!!!</h1>

<button (click)="setToGreen()">Verde</button>

<button (click)="setToOrange()">Laranja</button>

<!-- Strings -->
<h1 [ngClass]="'is-big is-green'">Teste#1</h1>
<h1 [class]="'is-big is-green'">Teste#2</h1>

<!-- Arrays -->
<h1 [ngClass]="['is-big', 'is-green']">Teste#3</h1>
<h1 [class]="['is-big', 'is-green']">Teste#4</h1>

<!-- Objetos -->
<h1 [ngClass]="{'is-green': isGreen, 'isOrange': !isGreen}">Teste#5</h1>
<h1 [class]="{'is-orange': !isGreen, 'isGreen': isGreen}">Teste#6</h1>