<div class="user-details">
  <mat-list>
    <mat-divider></mat-divider>

    <mat-list-item class="u-text-align-center">
      <span class="mat-h2">Detalhes do Usuário</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Nome: </span><span>Ciclano da Rocha</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Email: </span><span>ciclano&#64;email.com</span>
      <!-- Por conta de configurações do Angular, para se colocar um @ no template usa-se o "&#64;" no lugar. -->
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Telefone: </span><span>(81) 91234-5678</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Endereço: </span
      ><span>Rua dos Sapos, 42, Recife - PE</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Ativo: </span><span>Sim</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Função: </span><span>Jardineiro</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Data de Cadastro: </span><span>07/09/2024</span>
    </mat-list-item>

    <mat-divider></mat-divider>
  </mat-list>
</div>
