<div class="user-details" class="mat-elevation-z8">
  <mat-list>
    <mat-divider></mat-divider>

    <mat-list-item class="u-text-align-center">
      <span class="mat-h2">Detalhes do Usuário</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Nome: </span><span>{{ user.nome }}</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Email: </span><span>{{ user.email }}</span>
      <!-- Por conta de configurações do Angular, para se colocar um @ no template usa-se o "&#64;" no lugar. -->
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Telefone: </span><span>{{ user.telefone | phone }}</span>
    </mat-list-item>  

    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Endereço: </span
      ><span
        >{{ user.endereco | address }}</span
      >
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Status: </span><span>{{ user.ativo | status }}</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Função: </span><span>{{ user.funcao }}</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Data de Cadastro: </span><span>{{ user.dataCadastro | date: 'dd/MM/yyyy' }}</span>
    </mat-list-item>

    <mat-divider></mat-divider>
  </mat-list>
</div>
