<input
  type="radio"
  id="html"
  name="group1"
  value="html"
  [ngModel]="radioSelection"
  (ngModelChange)="onChange($event)"
/>
<label for="html">HTML</label>

<input
  type="radio"
  id="css"
  name="group1"
  value="css"
  [ngModel]="radioSelection"
  (ngModelChange)="onChange($event)"
/>
<label for="css">CSS</label>

<input
  type="radio"
  id="javascript"
  name="group1"
  value="javascript"
  [ngModel]="radioSelection"
  (ngModelChange)="onChange($event)"
/>
<label for="javascript">JavaScript</label>

<p>Radio Selecionado: {{ radioSelection }}</p>
